<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="in.aternal.betterlearner">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <provider
      android:authorities="in.aternal.betterlearner"
      android:exported="false"
      android:name=".data.TechniqueContentProvider"/>

    <service
      android:exported="false"
      android:name=".background.TechniquePullService"/>

    <activity
      android:label="@string/title_activity_technique_detail"
      android:name=".TechniqueDetailActivity"
      android:parentActivityName=".MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="in.aternal.betterlearner.MainActivity"/>
    </activity>

    <receiver android:name=".widget.TechniqueHowAppWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/technique_how_app_widget_info"/>
    </receiver>

    <activity android:name=".widget.TechniqueHowAppWidgetConfigureActivity">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>
  </application>

</manifest>